<table class="table table-striped">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Дата и Время</th>
			<th>Парикмахер</th>
			<th>Цвет окраски</th>
		</tr>
	</thead>
	<tbody>
		<% @results.each do |row| %>
			<tr>
				<td><%= row[1] %></td>
				<td><%= row[2] %></td>
				<td><%= row[3] %></td>
				<td><%= row[4] %></td>
				<td style="background-color: <%= row[5] %>"><%= row[5] %></td>
			</tr>
		<% end %>
	</tbody>
</table>